@charset "utf-8";
body{
	font-size:12px;
	font-family:微软雅黑;
}

/* CSS Document */
/*----- 基本模块 开始-----*/
#loginPage {background: url(../images/login_bg.jpg);}
.login_box {width: 490px;height: 340px;margin: 148px auto 0px;background: url(../images/loging_bg.png) 0 bottom no-repeat;}
.logbox_con {width: 311px;height: 250px;margin: 0 auto;border-radius: 4px;border: 1px solid #c3c3c3;background: #fff;padding-top: 71px;position: relative;}
.login_tit {width: 351px;height: 43px;background: url(../images/login_titl.png) 0 0 no-repeat;position: absolute;top: 24px;left: -20px;font-size: 20px;font-weight: bold;color: #fff;text-align: center;line-height: 50px;}
.login_manage {line-height: 35px;color: #666666;}
.login_inpt li {line-height: 53px;}
.inp_user {background: url(../images/inp_user.png) 233px 9px no-repeat;}
.inp_pwd {background: url(../images/inp_pwd.png) 236px 8px no-repeat;}
.footer_bor_top {border-top: 1px solid #d6d6d6;}
.text_center{ text-align:center;}
.inp{ width:213px; height:31px; border:1px solid #d8d8d8; border-radius:3px; padding:0 35px 0 10px; font-size:12px; color:#333; line-height:31px;}
/*----- header -----*/
.header{ width:100%; height:66px; border-bottom:4px solid #61c8a8; background:#fff;}
.header .logo{ background:url(../images/logo.png) 0 0 no-repeat; width:270px; height:36px; float:left; margin-top:15px; margin-left:44px;}
.header .head_left_info{ float:right; line-height:66px; margin-right:236px;}
.header .head_left_info a{ margin-left:12px;}
/*----- foot -----*/
.footer{text-align:center; color:#808080; padding-top:33px; background:#fff;}
.footer p{ line-height:20px;}
/*----- 按钮 -----*/
.btn{ display:inline-block; width:98px; height:30px; background:#fff; border:1px solid #61c8a8; color:#61c8a8; font-size:12px; line-height:30px; text-align:center;}
.btn:hover{ background:#61c8a8; color:#fff;}